<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My approach</h2>
                <hr class="light">
                <p class="text-faded">Person centred counselling Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet augue vitae
                    neque convallis auctor. In nibh eros, maximus a vulputate non, aliquam id urna. Suspendisse rutrum vestibulum
                    sed erat eget tortor lobortis feugiat ut in ex. Vestibulum feugiat ex tellus, euismod euismod dui scelerisque
                    sed.
                </p>
                <p class="text-faded">
                    Donec fringilla suscipit lacus at placerat. Cras feugiat interdum molestie. Ut viverra commodo ex vitae rutrum. Duis mi ligula,
                   tellus. Donec vehicula in eros in commodo. Duis est lorem, elementum ut est id, semper ornare erat. Aliquam
                    auctor orci sit amet mi faucibus, ullamcorper egestas justo porttitor.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>