<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p>Ready to start your next project with us? That's great! Give us a call, submit and equiry or send us an email
                    and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <h4 class="section-heading">Make an enquiry </h4>
                <p id="thank-you-message" class="hidden">
                    Thank you for contacting us we'll get back to you, as soon as we can.
                </p>
                <form action="https://happycounselling.wufoo.com/forms/{{ site.contact_PK }}/#public" method="post">
                    <input type='hidden' name='redirect_to' value='{{ site.url }}{{ site.baseurl }}#thank-you' />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" required="required" id="Field4" name="Field4" placeholder="* Name" type='text' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon input-group-single-character">@</span>
                        <input class="form-control" required="required" id="Field6" name="Field6" placeholder="* Email" type='email' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        <input class="form-control" id="Field8" name="Field8" placeholder="Telephone" type='tel' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </span>
                        <textarea class="form-control" id="Field10" name="Field10" placeholder="Enter your message here..." cols="30" rows="7" maxlength="2000"></textarea>
                    </div>
                    <div class="row">
                        <label>
                            Please check the box below.
                        </label>

                        <script src="https://www.google.com/recaptcha/api.js"></script>

                        <noscript>
                            &lt;style type="text/css"&gt; form li.captcha label.desc{ display:none; } form li.captcha{ border-bottom:1px dotted #ccc;
                            padding-bottom:1.2em; } &lt;/style&gt;
                        </noscript>
                        <div class="g-recaptcha" data-sitekey="6Lds3D8UAAAAAPcAz2bYCfSuvZYffjOXi6bVvPhO">
                            <div style="width: 304px; height: 78px;">
                                <div>
                                    <iframe src="https://www.google.com/recaptcha/api2/anchor?k=6Lds3D8UAAAAAPcAz2bYCfSuvZYffjOXi6bVvPhO&amp;co=aHR0cHM6Ly9oYXBweWNvdW5zZWxsaW5nLnd1Zm9vLmNvbTo0NDM.&amp;hl=en&amp;v=v1519325468512&amp;size=normal&amp;cb=bbxtv76nnvf8"
                                        width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                </div>
                                <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default btn-xl">
                            <span class="glyphicon glyphicon-send"></span> Send
                        </button>
                    </div>
                    <input type="hidden" id="idstamp" name="idstamp" value="3ANOmEVMLVLJVtoEif33+fGtbiwpo0lfsz5ZpQmmRwE="></input>
                </form>
            </div>
            <hr class="light mini" />
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa-mobile-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.phone }}</p>
                </a>
            </div>
            <hr class="light mini" />
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.email }}</p>
                </a>
            </div>
        </div>
    </div>
</section>