<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p>Ready to start your next project with us? That's great! Give us a call, submit and equiry or send us an email
                    and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <h4 class="section-heading">Make an enquiry </h4>
                <p id="thank-you-message" class="hidden">
                    Thank you for contacting us we'll get back to you, as soon as we can.
                </p>
                <form id="equiryform" action="https://getsimpleform.com/messages?form_api_token={{ site.contact_PK }}" method="post">
                    <input type='hidden' name='redirect_to' value='{{ site.url }}{{ site.baseurl }}#thank-you' />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" required="required" id="name" placeholder="* Name" type='text' name='name' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon input-group-single-character">@</span>
                        <input class="form-control" required="required" id="email" placeholder="* Email" type='email' name='email' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        <input class="form-control" id="telephone" placeholder="Telephone" type='tel' name='telephone' />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-align-left"></i>
                        </span>
                        <textarea class="form-control" id="Field10" name="Field10" placeholder="Enter your message here..." cols="30" rows="7" maxlength="2000"></textarea>
                    </div>
                    <div class="row">
                        <p/>
                    </div>
                    <div class="row">
                        <button type="submit" class="g-recaptcha btn btn-default btn-xl"
                        data-sitekey="{{ site.recapturePK }}" data-callback="onSubmit"
                        data-badge="inline">
                            <span class="glyphicon glyphicon-send"></span> Send
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-lg-2 col-lg-offset-2 text-center">
                <hr class="light mini" />
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa-mobile-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.phone }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <hr class="light mini" />

                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.email }}</p>
                </a>
            </div>
        </div>
    </div>
</section>