<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="light">
                <p>Ready to start your next project with us? That's great! Give us a call, submit and equiry or send us an email
                    and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <h4 class="section-heading">Make an enquiry </h4>
                <p id="thank-you-message" class="hidden">
                    Thank you for contacting us we'll get back to you, as soon as we can.
                </p>
                <form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token={{ site.contact_PK }}" method="post">
                    <input type='hidden' name='redirect_to' value='{{ site.url }}{{ site.baseurl }}#thank-you' />
                    <input required="required" id="name" placeholder="* Name" type='text' name='name' />
                    <input required="required" id="email" placeholder="* Email" type='email' name='email' />
                    <input id="telephone" placeholder="Telephone" type='tel' name='telephone' />
                    <textarea name="message" placeholder="Enter your message here..." id="message" cols="30" rows="7" maxlength="2000"></textarea>
                    <button type="submit" class="btn btn-default btn-xl">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </button>
                </form>
            </div>
            <hr class="light mini" />
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa-mobile-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.phone }}</p>
                </a>
            </div>
            <hr class="light mini" />
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="light">{{ site.email }}</p>
                </a>
            </div>
        </div>
    </div>
</section>