<script type="text/javascript">
    window.onload = (function(){
        if(window.location.hash == '#thank-you'){
        document.getElementById('thank-you-message').className = 'bg-info';
        location.hash = "#contact";
        history.pushState("", document.title, window.location.pathname + window.location.search);
        }
        })
  </script>

<!-- recapture -->
<script>
        function onSubmit(token) {
            console.log('form submitted');
        }
      
        function validate(event) {
            $('#equiryform').submit(function (e) {
            if (e.isDefaultPrevented()) return
                grecaptcha.execute();
            })
        }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

