<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- recapture -->
<script type="text/javascript">
    $('#enquiryform').on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                console.log("validation failed");
            } else {
                e.preventDefault();
                console.log("validation success");
                grecaptcha.execute();
               // document.getElementById('thank-you-message').className = 'bg-info';
               // location.hash = "#contact";
               // history.pushState("", document.title, window.location.pathname + window.location.search);
            }
    });
</script>

